---
---

/* Custom CSS to allow table cell text wrapping */

.table-wrapper > table {
  table-layout: auto;
}

.table-wrapper > table thead th,
.table-wrapper > table tbody tr td {
  white-space: normal !important;
  word-wrap: break-word;
}
